/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Your code starts here! */
body{
  font-family: 'Liu Jian Mao Cao', cursive;
}

header{
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
  background: blue
}
header nav {
  width: 50%;
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: lightgray;
  margin: 5px 15px;
}

nav a:hover{
  border: 1px solid black;
  color: black;
}

header img {
  display: inline-block;
  padding-left: 50px;
  padding-right: 0px;
}

div {
  width:100%;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.inovation {
  width: 50%;
  height: 100%;
  float: left;
  display: inline-block;
  padding: 200px 50px 50px 150px;
  font-size: x-large;
}

#get-started {
  text-decoration: none;
  color: black;
  padding: 5px;
  border: 1px solid black;
}

#get-started:hover {
  background: blue;
}

.code-image {
  width: 50%;
  display: inline-block;
  padding: 50px;
}

#top-content{
  width: 100%;
  padding: 20px 0px;
}

.features{
  width: 50%;
  float: left;
  display: inline-block;
}

.about{
  width: 50%;
  display: inline-block;
}

.middle-img{
  width: 100%;
}

.services{
  width: 33%;
  float: left;
  display: inline-block;
  padding: 20px;
}

.product{
  width: 33%;
  display: inline-block;
  padding: 20px;
}

.vision{
  width: 33%;
  float: right;
  display: inline-block;
  padding: 20px;
}

footer{
  font-family: sans-serif;
  padding: 20px;
}

#copyright{
  padding: 10px;
  text-align: center;
}